.related-links{
    background-color: rgb(254, 254, 254);
    width: 75%;                               
    // border-radius: 10px;
    padding: 0;
    border-right: 1px solid rgb(237, 237, 237);
    padding: 10px;
    .related-links-menu{
        list-style: none;
        padding: 0;
        

        li{
            &:not(:last-of-type){
                margin-bottom: 5px;
            }
            margin-left: 5px;
            a {
                text-decoration: none;
                display: block;
                color:rgb(116, 116, 116);

                &:hover{
                    color:rgb(68, 113, 203);   
                }
                
            }
        }       
    }
}

hr{
    background-color: rgb(240, 240, 240); 
    height: 1px; 
    border: 0;
    width:70%;
    margin-left: 0;
    
}