.all-businesses.search{
     background-color: rgb(252, 252, 252);
}

.all-businesses-section-wraper.search{
    width: 85%;

    .search-businesses-main-content{
        h3{
            font-weight: 300;
        }
        width: 100%;
       
        .search-businesses-frwraper{
            display: flex;
            justify-content: flex-start;
            width: 85%;
            margin: 0 auto;
            flex-wrap: wrap;
        

        }
    }
}

// error page

.main-error{
    min-height: 85vh;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1,h2{
        font-weight: 300;
        color: rgb(93, 93, 93);

    }

    h1{
        font-size: 80px;
        margin-bottom: 0;
        line-height: 5rem;
        

    }

    h2{
        font-size: 40px;
    }

    i{
        font-size: 80px;
        color: rgb(93, 93, 93);
    }
}