html {
  scrollbar-color: #2667a8 #d1d1d1;
  scrollbar-width: thin;
  scroll-behavior: smooth; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif; }

* {
  box-sizing: border-box; }

section .section-intro {
  text-align: center;
  font-weight: 300; }
  section .section-intro h3 {
    font-size: 25px;
    font-weight: 300; }

.navigation {
  display: flex;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  border-top: 20px solid #3d66b7;
  z-index: 100;
  -webkit-box-shadow: 5px 1px 17px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 1px 17px 4px rgba(0, 0, 0, 0.16); }
  .navigation-wraper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto; }
    .navigation-wraper .logo {
      width: 200px;
      height: 40px;
      margin-right: 20px; }
    .navigation-wraper .nav-links, .navigation-wraper .login-status {
      list-style: none;
      display: flex;
      justify-content: center; }
      .navigation-wraper .nav-links .nav-link, .navigation-wraper .login-status .nav-link {
        text-decoration: none;
        color: #747474; }
        .navigation-wraper .nav-links .nav-link:link, .navigation-wraper .nav-links .nav-link:visited, .navigation-wraper .login-status .nav-link:link, .navigation-wraper .login-status .nav-link:visited {
          color: #4471cb;
          color: #747474; }
        .navigation-wraper .nav-links .nav-link:hover, .navigation-wraper .login-status .nav-link:hover {
          color: #4471cb; }
      .navigation-wraper .nav-links .nav-item .nav-link:not(last-of-type), .navigation-wraper .login-status .nav-item .nav-link:not(last-of-type) {
        margin-right: 20px; }

.dropdown {
  position: relative;
  cursor: pointer; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  .dropdown-content .dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0; }
    .dropdown-content .dropdown-menu .dropdown-item {
      padding: 10px 15px; }
      .dropdown-content .dropdown-menu .dropdown-item:not(:last-of-type) {
        margin: 5px 0; }
      .dropdown-content .dropdown-menu .dropdown-item:hover {
        background-color: #f1f1f1; }
      .dropdown-content .dropdown-menu .dropdown-item .dropdown-link {
        text-decoration: none;
        color: #747474; }
        .dropdown-content .dropdown-menu .dropdown-item .dropdown-link:link, .dropdown-content .dropdown-menu .dropdown-item .dropdown-link:visited {
          color: #747474; }
      .dropdown-content .dropdown-menu .dropdown-item:hover .dropdown-link {
        color: #4471cb; }

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 100; }

.btn {
  padding: 10px 20px;
  background-color: #5272a7;
  border: none;
  color: white;
  border-radius: 4px; }
  .btn:hover {
    background-color: #4a6696; }

.pagination {
  text-align: center;
  margin: 30px 0;
  position: relative;
  right: 40px; }

.pagination a,
.pagination span {
  display: inline-block;
  margin: 0 2.5px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.2s ease;
  background-color: #5b90f8; }

.pagination a:hover {
  background-color: #3d66b7;
  color: white;
  border-color: #0099ff; }

.pagination .current {
  background-color: #3d66b7;
  color: white;
  border-color: #0099ff;
  font-weight: bold; }

/* end pagination */
.no-results {
  justify-self: center;
  text-align: center;
  margin: 40px auto 0 auto;
  font-weight: 300;
  position: relative;
  right: 80px; }

.business {
  flex-basis: 300px;
  text-align: left;
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #bdbdbd; }
  .business .business--img .list-reviews {
    position: absolute;
    left: 5px;
    bottom: 5px; }
    .business .business--img .list-reviews p {
      margin: 0;
      font-weight: bold;
      color: white; }
      .business .business--img .list-reviews p i {
        color: #ffd138; }
  .business .business-details {
    display: flex;
    justify-content: space-between;
    font-weight: 300; }
    .business .business-details p {
      margin: 0; }
      .business .business-details p .fa-solid.fa-phone-volume, .business .business-details p .fa-solid.fa-location-pin {
        color: #3d66b7 !important;
        margin-right: 10px; }
    .business .business-details .city {
      margin-right: 10px; }
  .business .business-title {
    margin-bottom: 0;
    line-height: 10px;
    font-size: 1rem; }
  .business .business-title, .business .business-desc {
    font-weight: 300; }
  .business .business-desc {
    font-size: 14px; }
  .business .business_sub-details {
    border-top: 1px solid #d8d8d8;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .business .business_sub-details .featured_cat {
      margin: 0;
      margin-top: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .business .business_sub-details .featured_cat p {
        margin: 0;
        margin-left: 5px;
        font-weight: 300; }
      .business .business_sub-details .featured_cat img {
        width: 20px;
        height: 20px; }
    .business .business_sub-details-right {
      position: relative; }
      .business .business_sub-details-right .tooltip {
        display: none; }
      .business .business_sub-details-right a i.fa-solid.fa-eye {
        color: #3d66b7 !important;
        margin-right: 10px;
        margin-top: 10px; }
      .business .business_sub-details-right a:hover + .tooltip {
        display: inline-block;
        position: absolute;
        background-color: #1d9aeeee;
        background-color: #d78d02;
        color: white;
        width: 67px;
        text-align: center;
        right: -5px;
        padding: 5px;
        border-radius: 5px;
        font-size: 10px;
        bottom: 9px;
        font-weight: bold; }

.footer {
  background-color: #4f6ea2;
  background-color: #414141;
  padding: 40px 0; }
  .footer-fwraper {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #ededed; }
  .footer .area .footer-pages {
    list-style: none;
    padding: 0; }
    .footer .area .footer-pages li:not(:last-of-type) {
      margin-bottom: 10px; }
    .footer .area .footer-pages li a:link, .footer .area .footer-pages li a:visited {
      text-decoration: none;
      color: white; }
  .footer .area .area-content form {
    background-color: white;
    padding: 15px;
    border-radius: 4px; }
    .footer .area .area-content form input[type="email"] {
      padding: 8px; }
    .footer .area .area-content form input[type="submit"] {
      padding: 10px 20px;
      background-color: #5272a7;
      border: none;
      color: white;
      border-radius: 4px; }
      .footer .area .area-content form input[type="submit"]:hover {
        background-color: #4a6696; }
  .footer .area .area-content p i {
    color: #e8e8e8;
    font-size: 15px;
    margin-right: 10px; }

.hm-cover {
  background: linear-gradient(45deg, rgba(51, 59, 74, 0.4), rgba(59, 69, 87, 0.6)), url(../imgs/cover-3.jpg);
  height: 60vh;
  background-position: center;
  background-size: cover;
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1; }
  .hm-cover .hm-cover-content {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-bottom: 90px; }
    .hm-cover .hm-cover-content h1 {
      font-size: 3.5rem;
      line-height: 1.5rem; }
    .hm-cover .hm-cover-content h2 {
      font-size: 1.4rem;
      line-height: 1.5rem; }
    .hm-cover .hm-cover-content .form-wraper {
      width: 55%;
      margin: 0 auto;
      height: 60px;
      margin-top: 40px;
      -webkit-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.26);
      box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.26);
      display: flex;
      justify-content: center;
      align-items: center; }
      .hm-cover .hm-cover-content .form-wraper form {
        width: 100%;
        position: relative; }
        .hm-cover .hm-cover-content .form-wraper form input[type="text"] {
          height: 60px;
          border-radius: 50px;
          width: 100%;
          font-size: 18.5px;
          text-align: center;
          color: #5a5a5a;
          border: none; }
          .hm-cover .hm-cover-content .form-wraper form input[type="text"]:focus {
            outline: none; }
          .hm-cover .hm-cover-content .form-wraper form input[type="text"]::placeholder {
            font-size: 18.5px;
            text-align: center; }
        .hm-cover .hm-cover-content .form-wraper form input[type="submit"] {
          position: absolute;
          top: 50%;
          right: 1.5%;
          transform: translate(0, -50%);
          background-color: #3d66b7;
          padding: 10px 20px;
          color: white;
          border: none;
          border-radius: 50px;
          transition: all .4s; }
          .hm-cover .hm-cover-content .form-wraper form input[type="submit"]:hover {
            background-color: #375ba4;
            cursor: pointer; }
  .hm-cover .featured-intro {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    margin-bottom: 40px; }

.featured-categories {
  background-color: #fafafa;
  background-color: #436398; }
  .featured-categories .featured-categories-fwraper {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 20px;
    position: relative;
    bottom: 80px;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    z-index: 10; }
    .featured-categories .featured-categories-fwraper .featured_category {
      background-color: white;
      text-align: center;
      width: 120px;
      height: 120px;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #3d66b7;
      transition: all .4s; }
      .featured-categories .featured-categories-fwraper .featured_category a:link, .featured-categories .featured-categories-fwraper .featured_category a:visited {
        text-decoration: none;
        width: 100%;
        height: 100%;
        color: #2c2c2c;
        display: block; }
      .featured-categories .featured-categories-fwraper .featured_category:hover {
        background-color: #3d66b7; }
        .featured-categories .featured-categories-fwraper .featured_category:hover p {
          color: white; }
      .featured-categories .featured-categories-fwraper .featured_category:not(:last-of-type) {
        margin-right: 40px; }
      .featured-categories .featured-categories-fwraper .featured_category img {
        width: 50px;
        height: 50px; }
      .featured-categories .featured-categories-fwraper .featured_category .cat-name {
        text-align: center; }

.featured-listings {
  text-align: center;
  margin-top: -40px;
  background-color: #fafafa;
  background-color: #5272a7;
  background-color: whitesmoke;
  padding: 40px 0; }
  .featured-listings-article h2 {
    font-size: 25px;
    font-weight: 300; }
  .featured-listings-article p {
    font-weight: 300; }
  .featured-listings .featured-listings-fwraper {
    display: flex;
    justify-content: center;
    width: 60%;
    padding-left: 220px;
    margin: 40px auto;
    overflow-x: scroll; }
    .featured-listings .featured-listings-fwraper p {
      font-weight: 300;
      font-size: 0.9rem; }
    .featured-listings .featured-listings-fwraper .business {
      text-align: left;
      flex-shrink: 0;
      flex-grow: 0;
      padding: 10px;
      background-color: #f9f9f9;
      background-color: white;
      margin-bottom: 20px;
      border-radius: 10px;
      border: 1px solid #bdbdbd; }
      .featured-listings .featured-listings-fwraper .business .business--img .list-reviews {
        color: white;
        position: absolute;
        left: 5px;
        bottom: 5px; }
        .featured-listings .featured-listings-fwraper .business .business--img .list-reviews p {
          margin: 0;
          font-weight: bold; }
      .featured-listings .featured-listings-fwraper .business .business-details {
        display: flex;
        justify-content: space-between;
        font-weight: 300; }
        .featured-listings .featured-listings-fwraper .business .business-details p {
          margin: 0; }
          .featured-listings .featured-listings-fwraper .business .business-details p .fa-solid.fa-phone-volume, .featured-listings .featured-listings-fwraper .business .business-details p .fa-solid.fa-location-pin {
            color: #3d66b7 !important;
            margin-right: 10px; }
        .featured-listings .featured-listings-fwraper .business .business-details .city {
          margin-right: 10px; }
      .featured-listings .featured-listings-fwraper .business .business-title {
        margin-bottom: 0;
        line-height: 10px;
        font-size: 1rem; }
      .featured-listings .featured-listings-fwraper .business .business-title, .featured-listings .featured-listings-fwraper .business .business-desc {
        font-weight: 300; }
      .featured-listings .featured-listings-fwraper .business .business-desc {
        font-size: 14px; }
      .featured-listings .featured-listings-fwraper .business .business_sub-details {
        border-top: 1px solid #d8d8d8;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .featured-listings .featured-listings-fwraper .business .business_sub-details .featured_cat {
          margin: 0;
          margin-top: 10px;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          .featured-listings .featured-listings-fwraper .business .business_sub-details .featured_cat p {
            margin: 0;
            margin-left: 5px; }
          .featured-listings .featured-listings-fwraper .business .business_sub-details .featured_cat img {
            width: 20px;
            height: 20px; }
        .featured-listings .featured-listings-fwraper .business .business_sub-details-right {
          position: relative; }
          .featured-listings .featured-listings-fwraper .business .business_sub-details-right .tooltip {
            display: none; }
          .featured-listings .featured-listings-fwraper .business .business_sub-details-right a i.fa-solid.fa-eye {
            color: #3d66b7 !important;
            margin-right: 10px;
            margin-top: 10px; }
          .featured-listings .featured-listings-fwraper .business .business_sub-details-right a:hover + .tooltip {
            display: inline-block;
            position: absolute;
            background-color: #1d9aeeee;
            background-color: #d78d02;
            color: white;
            width: 67px;
            text-align: center;
            right: -5px;
            padding: 5px;
            border-radius: 5px;
            font-size: 10px;
            bottom: 9px;
            font-weight: bold; }
    .featured-listings .featured-listings-fwraper > *:not(:last-of-type) {
      margin-right: 20px; }
    .featured-listings .featured-listings-fwraper > *:first-of-type {
      margin-left: 25px; }
  .featured-listings .view-all-listings:link, .featured-listings .view-all-listings:visited {
    color: #5272a7;
    text-decoration: none; }
  .featured-listings .view-all-listings:hover {
    color: #445f8a; }

.featured-cities {
  padding: 40px 0; }
  .featured-cities .cities-grid {
    display: grid;
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 300px 300px;
    grid-gap: 10px; }
    .featured-cities .cities-grid .city-item {
      border-radius: 10px;
      position: relative; }
      .featured-cities .cities-grid .city-item .city-item-img {
        display: block;
        transition: all .9s !important; }
      .featured-cities .cities-grid .city-item-1 {
        grid-column-start: 1;
        grid-column-end: 3; }
        .featured-cities .cities-grid .city-item-1 .city-item-img:hover {
          background: linear-gradient(rgba(217, 217, 217, 0), rgba(55, 80, 135, 0)), url(../../../../media/city_images/limassol.webp) !important;
          width: 100% !important;
          height: 100% !important;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          background-position: center !important;
          border-radius: 5px !important; }
      .featured-cities .cities-grid .city-item-2 {
        grid-column-start: 3;
        grid-column-end: 4; }
        .featured-cities .cities-grid .city-item-2 .city-item-img:hover {
          background: linear-gradient(rgba(217, 217, 217, 0), rgba(55, 80, 135, 0)), url(../../../../media/city_images/paphos.webp) !important;
          width: 100% !important;
          height: 100% !important;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          background-position: center !important;
          border-radius: 5px !important; }
      .featured-cities .cities-grid .city-item-3 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2; }
        .featured-cities .cities-grid .city-item-3 .city-item-img:hover {
          background: linear-gradient(rgba(217, 217, 217, 0), rgba(55, 80, 135, 0)), url(../../../../media/city_images/larnaka.jpg) !important;
          width: 100% !important;
          height: 100% !important;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          background-position: center !important;
          border-radius: 5px !important; }
      .featured-cities .cities-grid .city-item-4 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 4; }
        .featured-cities .cities-grid .city-item-4 .city-item-img:hover {
          background: linear-gradient(rgba(217, 217, 217, 0), rgba(55, 80, 135, 0)), url(../../../../media/city_images/nicosia.webp) !important;
          width: 100% !important;
          height: 100% !important;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          background-position: center !important;
          border-radius: 5px !important; }
      .featured-cities .cities-grid .city-item .city-link {
        height: 100%;
        width: 100%;
        position: absolute;
        inset: 0;
        padding: 10px 20px;
        transition: all .4s; }
        .featured-cities .cities-grid .city-item .city-link:link, .featured-cities .cities-grid .city-item .city-link:visited {
          color: white;
          text-decoration: none;
          font-weight: bold;
          background-color: rgba(69, 69, 69, 0.248); }
        .featured-cities .cities-grid .city-item .city-link:hover {
          background-color: rgba(0, 0, 0, 0); }

.workhow {
  background-color: whitesmoke;
  padding: 40px 0; }
  .workhow .workhow-fwraper {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 40px auto; }
    .workhow .workhow-fwraper .explanation {
      text-align: center;
      background-color: white;
      width: 300px;
      padding: 40px;
      border-radius: 8px;
      transition: all .4s;
      border: 1px solid #dadada; }
      .workhow .workhow-fwraper .explanation h3, .workhow .workhow-fwraper .explanation p {
        font-weight: 300; }
      .workhow .workhow-fwraper .explanation i {
        font-size: 60px;
        color: #3d66b7;
        margin-bottom: 20px; }
    .workhow .workhow-fwraper .explanation:hover {
      background-color: #3d66b7;
      color: white; }
      .workhow .workhow-fwraper .explanation:hover i {
        color: white; }
    .workhow .workhow-fwraper .explanation:not(:last-of-type) {
      margin-right: 50px; }

.testimonials {
  padding: 40px 0; }
  .testimonials-fwraper {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 40px auto; }
    .testimonials-fwraper .testimonial {
      width: 33%;
      text-align: center;
      background-color: #fbfbfb;
      padding: 20px;
      border-radius: 8px;
      transition: all .4s;
      border: 1px solid #dadada; }
      .testimonials-fwraper .testimonial img {
        width: 80px;
        height: 80px;
        border-radius: 50%; }
      .testimonials-fwraper .testimonial h3, .testimonials-fwraper .testimonial h4, .testimonials-fwraper .testimonial p {
        font-weight: 300; }
      .testimonials-fwraper .testimonial h3 {
        margin-bottom: 0; }
      .testimonials-fwraper .testimonial h4 {
        margin-top: 0; }
      .testimonials-fwraper .testimonial p {
        color: #5d5d5d; }
    .testimonials-fwraper .testimonial:not(:last-of-type) {
      margin-right: 40px; }
    .testimonials-fwraper .testimonial:hover {
      background-color: whitesmoke; }
      .testimonials-fwraper .testimonial:hover p {
        color: #383838; }

.cta {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5272a7;
  min-height: 200px; }
  .cta-fwraper {
    width: 75%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .cta-fwraper .cta-content p {
      width: 80%; }
  .cta-btn:link, .cta-btn:visited {
    background-color: white;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 8px;
    color: #5272a7;
    transition: all .4s; }
  .cta-btn:hover {
    transform: translateY(-2.5px); }

.registerlogin-fwraper {
  display: flex;
  justify-content: center;
  height: 90vh;
  margin-top: 92px;
  position: relative;
  z-index: 1; }
  .registerlogin-fwraper .register-bg {
    width: 60%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../imgs/register-bg-2.jpg);
    background-size: cover;
    background-position: center; }
  .registerlogin-fwraper .login-bg {
    width: 60%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(../imgs/login-bg.png);
    background-size: cover;
    background-position: center; }
  .registerlogin-fwraper .registerlogin-content {
    width: 40%;
    background-color: #fdfdfd; }
    .registerlogin-fwraper .registerlogin-content-wraper {
      width: 60%;
      margin: 80px auto 0 auto; }
      .registerlogin-fwraper .registerlogin-content-wraper form .form-group .form-control {
        width: 100%;
        padding: 10px; }
      .registerlogin-fwraper .registerlogin-content-wraper form .form-group:not(:last-of-type) {
        margin-bottom: 20px; }
      .registerlogin-fwraper .registerlogin-content-wraper form .btnlogreg {
        background-color: #4471cb;
        border-radius: 10px;
        padding: 10px 20px;
        color: white;
        border: none;
        margin-top: 20px;
        transition: all .4s; }
        .registerlogin-fwraper .registerlogin-content-wraper form .btnlogreg:hover {
          background-color: #3059ac; }

.all-listings-cover {
  background: linear-gradient(45deg, rgba(51, 59, 74, 0.4), rgba(59, 69, 87, 0.6)), url(../imgs/cover-category.jpg);
  height: 60vh;
  background-position: center;
  background-size: cover;
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1; }
  .all-listings-cover-content {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px; }
    .all-listings-cover-content h1 {
      font-size: 3.5rem;
      line-height: 1.5rem; }
    .all-listings-cover-content h2 {
      font-size: 1.4rem;
      line-height: 1.5rem; }
    .all-listings-cover-content .form-wraper {
      width: 55%;
      margin: 0 auto;
      height: 60px;
      margin-top: 40px;
      -webkit-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.26);
      box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.26);
      display: flex;
      justify-content: center;
      align-items: center; }
      .all-listings-cover-content .form-wraper form {
        width: 100%;
        position: relative; }
        .all-listings-cover-content .form-wraper form input[type="text"] {
          height: 60px;
          border-radius: 50px;
          width: 100%;
          font-size: 18.5px;
          text-align: center;
          color: #5a5a5a;
          border: none; }
          .all-listings-cover-content .form-wraper form input[type="text"]:focus {
            outline: none; }
          .all-listings-cover-content .form-wraper form input[type="text"]::placeholder {
            font-size: 18.5px;
            text-align: center; }
        .all-listings-cover-content .form-wraper form input[type="submit"] {
          position: absolute;
          top: 50%;
          right: 1.5%;
          transform: translate(0, -50%);
          background-color: #3d66b7;
          padding: 10px 20px;
          color: white;
          border: none;
          border-radius: 50px;
          transition: all .4s; }
          .all-listings-cover-content .form-wraper form input[type="submit"]:hover {
            background-color: #375ba4;
            cursor: pointer; }

.all-businesses {
  text-align: center;
  padding: 40px 0; }
  .all-businesses-section-wraper {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: 0 auto; }
    .all-businesses-section-wraper .aside-nav {
      width: 20%;
      margin-top: 20px;
      text-align: left;
      position: relative;
      top: 25%;
      left: 50px; }
      .all-businesses-section-wraper .aside-nav .fixed-aside-nav {
        position: sticky;
        top: 150px; }
        .all-businesses-section-wraper .aside-nav .fixed-aside-nav .aside-form-widget .filtering-form {
          background-color: #fcfcfc;
          width: 75%;
          padding: 10px;
          border-right: 1px solid #ededed; }
          .all-businesses-section-wraper .aside-nav .fixed-aside-nav .aside-form-widget .filtering-form .form-box {
            margin-bottom: 20px; }
            .all-businesses-section-wraper .aside-nav .fixed-aside-nav .aside-form-widget .filtering-form .form-box select {
              padding: 5px; }
      .all-businesses-section-wraper .aside-nav h3 {
        font-weight: 300;
        margin-top: 0; }
      .all-businesses-section-wraper .aside-nav > *:not(:last-of-type) {
        margin-bottom: 40px; }
    .all-businesses-section-wraper .all-businesses-main-content {
      width: 80%; }
      .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper {
        display: flex;
        justify-content: flex-start;
        margin: 20px auto;
        flex-wrap: wrap; }
        .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business {
          flex-basis: 300px;
          text-align: left;
          margin: 10px;
          padding: 10px;
          background-color: #f9f9f9;
          background-color: white;
          margin-bottom: 20px;
          border-radius: 10px;
          border: 1px solid #bdbdbd; }
          .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business--img .list-reviews {
            color: white;
            position: absolute;
            left: 5px;
            bottom: 5px; }
            .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business--img .list-reviews p {
              margin: 0;
              font-weight: bold; }
          .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business-details {
            display: flex;
            justify-content: space-between;
            font-weight: 300; }
            .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business-details p {
              margin: 0; }
              .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business-details p .fa-solid.fa-phone-volume, .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business-details p .fa-solid.fa-location-pin {
                color: #3d66b7 !important;
                margin-right: 10px; }
            .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business-details .city {
              margin-right: 10px; }
          .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business-title {
            margin-bottom: 0;
            line-height: 10px;
            font-size: 1rem; }
          .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business-title, .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business-desc {
            font-weight: 300; }
          .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business-desc {
            font-size: 14px; }
          .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business_sub-details {
            border-top: 1px solid #d8d8d8;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business_sub-details .featured_cat {
              margin: 0;
              margin-top: 10px;
              display: flex;
              justify-content: flex-start;
              align-items: center; }
              .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business_sub-details .featured_cat p {
                margin: 0;
                margin-left: 5px;
                font-weight: 300; }
              .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business_sub-details .featured_cat img {
                width: 20px;
                height: 20px; }
            .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business_sub-details-right {
              position: relative; }
              .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business_sub-details-right .tooltip {
                display: none; }
              .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business_sub-details-right a i.fa-solid.fa-eye {
                color: #3d66b7 !important;
                margin-right: 10px;
                margin-top: 10px; }
              .all-businesses-section-wraper .all-businesses-main-content .all-businesses-frwraper .business .business_sub-details-right a:hover + .tooltip {
                display: inline-block;
                position: absolute;
                background-color: #1d9aeeee;
                background-color: #d78d02;
                color: white;
                width: 67px;
                text-align: center;
                right: -5px;
                padding: 5px;
                border-radius: 5px;
                font-size: 10px;
                bottom: 9px;
                font-weight: bold; }
      .all-businesses-section-wraper .all-businesses-main-content .btn.load-more {
        position: relative;
        right: 40px; }

.related-links {
  background-color: #fefefe;
  width: 75%;
  padding: 0;
  border-right: 1px solid #ededed;
  padding: 10px; }
  .related-links .related-links-menu {
    list-style: none;
    padding: 0; }
    .related-links .related-links-menu li {
      margin-left: 5px; }
      .related-links .related-links-menu li:not(:last-of-type) {
        margin-bottom: 15px; }
      .related-links .related-links-menu li a {
        text-decoration: none;
        display: block;
        color: #747474; }
        .related-links .related-links-menu li a:hover {
          color: #4471cb; }

hr {
  background-color: #f0f0f0;
  height: 1px;
  border: 0;
  width: 70%;
  margin-left: 0; }

.cover_details {
  display: flex;
  justify-content: space-between;
  width: 75%;
  position: absolute;
  bottom: 75px;
  align-items: center;
  background-color: rgba(59, 59, 59, 0.05);
  margin: 0 auto;
  left: 12%;
  padding: 10px 20px;
  border-radius: 8px; }

.cover_details-left h1 {
  font-size: 30px; }
.cover_details-left .first-class {
  display: flex;
  justify-content: flex-start; }
  .cover_details-left .first-class p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 20px; }
    .cover_details-left .first-class p i {
      color: white;
      margin-right: 10px; }
  .cover_details-left .first-class p:not(last-of-type) {
    margin-right: 10px; }
  .cover_details-left .first-class p:last-of-type {
    margin-left: 10px; }
.cover_details-left .reviews-count p i {
  color: #ffd138;
  margin-right: 5px; }

.cover_details-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 35px; }
  .cover_details-right p.website {
    margin-right: 15px; }
    .cover_details-right p.website span {
      position: relative;
      bottom: 5px;
      font-weight: bold; }
    .cover_details-right p.website .website-link:link {
      transition: all .4s; }
      .cover_details-right p.website .website-link:link:hover {
        color: #dfdfdf; }
        .cover_details-right p.website .website-link:link:hover i {
          transform: rotate(360deg); }
    .cover_details-right p.website .website-link:link, .cover_details-right p.website .website-link:visited {
      color: white; }
      .cover_details-right p.website .website-link:link i, .cover_details-right p.website .website-link:visited i {
        font-size: 30px;
        margin-right: 5px;
        transition: all .5s; }
  .cover_details-right .submit-review:link, .cover_details-right .submit-review:visited {
    color: #2c66da;
    background-color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: .9rem;
    transition: all .4s;
    border: none; }
    .cover_details-right .submit-review:link:hover, .cover_details-right .submit-review:visited:hover {
      background-color: #3d66b7;
      color: white; }

.business-content {
  padding: 60px 20px; }
  .business-content-wraper {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto; }
    .business-content-wraper-left {
      width: 75%;
      border: 1px solid #e5e5e5;
      border-radius: 8px;
      padding: 20px; }
      .business-content-wraper-left p, .business-content-wraper-left h2 {
        color: #5e5d5d; }
      .business-content-wraper-left .business-overview {
        color: #5c5b5b;
        height: 87px;
        overflow: hidden;
        line-height: 1.4rem;
        font-weight: 300;
        transition: height .8s ease-in-out;
        margin-left: 10px; }
      .business-content-wraper-left h2 {
        font-size: 19px;
        color: #828282; }
      .business-content-wraper-left article h2 {
        margin-top: 0; }
      .business-content-wraper-left hr {
        width: 99%;
        background-color: #f2f2f2; }
      .business-content-wraper-left .overview-read-more:link, .business-content-wraper-left .overview-read-more:visited {
        text-decoration: none;
        color: #353535;
        font-weight: 300;
        margin-bottom: 10px;
        display: inline-block;
        margin-left: 10px; }
        .business-content-wraper-left .overview-read-more:link:hover, .business-content-wraper-left .overview-read-more:visited:hover {
          color: #191919; }
    .business-content-wraper-right {
      width: 25%;
      padding: 0 20px;
      position: relative; }
      .business-content-wraper-right .sticky-sidebar {
        position: sticky;
        top: 150px; }
        .business-content-wraper-right .sticky-sidebar > * {
          border-radius: 8px; }
        .business-content-wraper-right .sticky-sidebar .sidebar-box {
          font-weight: 300;
          padding: 30px;
          border: 1px solid #e5e5e5; }
          .business-content-wraper-right .sticky-sidebar .sidebar-box h2 {
            font-size: 19px;
            color: #828282;
            margin-top: 0; }
          .business-content-wraper-right .sticky-sidebar .sidebar-box p, .business-content-wraper-right .sticky-sidebar .sidebar-box a:link, .business-content-wraper-right .sticky-sidebar .sidebar-box a:visited {
            color: #5c5b5b;
            font-weight: 300; }
          .business-content-wraper-right .sticky-sidebar .sidebar-box:not(:last-of-type) {
            margin-bottom: 15px; }
          .business-content-wraper-right .sticky-sidebar .sidebar-box p i {
            color: #aeaeae;
            margin-right: 10px; }
        .business-content-wraper-right .sticky-sidebar .location .business-social a:link, .business-content-wraper-right .sticky-sidebar .location .business-social a:visited {
          text-decoration: none;
          font-size: 25px;
          color: #737373; }
          .business-content-wraper-right .sticky-sidebar .location .business-social a:link:not(:last-of-type), .business-content-wraper-right .sticky-sidebar .location .business-social a:visited:not(:last-of-type) {
            margin-right: 5px; }
          .business-content-wraper-right .sticky-sidebar .location .business-social a:link:hover, .business-content-wraper-right .sticky-sidebar .location .business-social a:visited:hover {
            color: #151515; }

.photo-gallery {
  margin-bottom: 30px; }
  .photo-gallery-wraper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px; }
    .photo-gallery-wraper img {
      width: 200px;
      height: 150px;
      margin-top: 10px;
      transition: height .8s ease-in-out; }
      .photo-gallery-wraper img:not(:last-of-type) {
        margin-right: 20px; }
      .photo-gallery-wraper img:hover {
        cursor: zoom-in; }
    .photo-gallery-wraper img.zoomed {
      position: fixed;
      height: 75%;
      width: 70%;
      z-index: 210;
      inset: 100px auto;
      cursor: zoom-out; }
  .photo-gallery .overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.801);
    z-index: 200; }
  .photo-gallery .hidden {
    display: none; }
  .photo-gallery .close-img {
    position: fixed;
    border: none;
    background-color: transparent;
    top: 30px;
    right: 200px;
    z-index: 220;
    color: white;
    font-size: 60px;
    cursor: pointer; }
    .photo-gallery .close-img:hover {
      color: #cccccc; }

.business-partners-wraper {
  display: flex;
  flex-basis: 33%;
  justify-content: start; }
  .business-partners-wraper .business:first-of-type {
    margin-left: 10px; }

.reviews-area .existing-reviews {
  margin-left: 10px;
  color: #5e5d5d; }
  .reviews-area .existing-reviews .full-review {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 10px; }
    .reviews-area .existing-reviews .full-review .review-user {
      color: #5e5d5d;
      font-weight: 300;
      font-size: 16.5px; }
    .reviews-area .existing-reviews .full-review .review-user i {
      margin-right: 5px;
      color: #7f7f7f; }
    .reviews-area .existing-reviews .full-review .user-review-stars i {
      color: #ffd138; }
  .reviews-area .existing-reviews .full-review p {
    font-weight: 300;
    width: 90%; }

.add-review h3 {
  font-size: 19px;
  color: #828282; }
.add-review-form {
  margin-left: 10px; }
.add-review .form-field:not(:last-of-type) {
  margin-bottom: 10px; }
.add-review .form-control {
  width: 90%;
  padding: 10px 20px;
  border-radius: 5px; }
.add-review .review-desc-field {
  height: 250px; }
.add-review .submit-review-btn {
  padding: 10px 20px;
  background-color: #5272a7;
  border: none;
  color: white;
  border-radius: 4px;
  margin-top: 10px; }
  .add-review .submit-review-btn:hover {
    background-color: #4a6696; }
.add-review .not-loggedin-review:link, .add-review .not-loggedin-review:visited {
  color: #828282; }
  .add-review .not-loggedin-review:link:hover, .add-review .not-loggedin-review:visited:hover {
    color: #585858; }

.all-businesses.search {
  background-color: #fcfcfc; }

.all-businesses-section-wraper.search {
  width: 85%; }
  .all-businesses-section-wraper.search .search-businesses-main-content {
    width: 100%; }
    .all-businesses-section-wraper.search .search-businesses-main-content h3 {
      font-weight: 300; }
    .all-businesses-section-wraper.search .search-businesses-main-content .search-businesses-frwraper {
      display: flex;
      justify-content: flex-start;
      width: 85%;
      margin: 0 auto;
      flex-wrap: wrap; }

.main-error {
  min-height: 85vh;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main-error h1, .main-error h2 {
    font-weight: 300;
    color: #5d5d5d; }
  .main-error h1 {
    font-size: 80px;
    margin-bottom: 0;
    line-height: 5rem; }
  .main-error h2 {
    font-size: 40px; }
  .main-error i {
    font-size: 80px;
    color: #5d5d5d; }

/*# sourceMappingURL=app.css.map */
