html {
  scrollbar-color: whitesmoke #1a2c3c;
  scrollbar-width: thin; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif; }

* {
  box-sizing: border-box; }

.navigation {
  display: flex;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  border-top: 20px solid #3d66b7;
  z-index: 100;
  -webkit-box-shadow: 5px 1px 17px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 1px 17px 4px rgba(0, 0, 0, 0.16); }
  .navigation-wraper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto; }
    .navigation-wraper .logo {
      width: 200px;
      height: 40px;
      margin-right: 20px; }
    .navigation-wraper .nav-links, .navigation-wraper .login-status {
      list-style: none;
      display: flex;
      justify-content: center; }
      .navigation-wraper .nav-links .nav-link, .navigation-wraper .login-status .nav-link {
        text-decoration: none;
        color: #747474; }
        .navigation-wraper .nav-links .nav-link:link, .navigation-wraper .nav-links .nav-link:visited, .navigation-wraper .login-status .nav-link:link, .navigation-wraper .login-status .nav-link:visited {
          color: #4471cb;
          color: #747474; }
        .navigation-wraper .nav-links .nav-link:hover, .navigation-wraper .login-status .nav-link:hover {
          color: #4471cb; }
      .navigation-wraper .nav-links .nav-item .nav-link:not(last-of-type), .navigation-wraper .login-status .nav-item .nav-link:not(last-of-type) {
        margin-right: 20px; }

.dropdown {
  position: relative;
  cursor: pointer; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  .dropdown-content .dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0; }
    .dropdown-content .dropdown-menu .dropdown-item {
      padding: 10px 15px; }
      .dropdown-content .dropdown-menu .dropdown-item:not(:last-of-type) {
        margin: 5px 0; }
      .dropdown-content .dropdown-menu .dropdown-item:hover {
        background-color: #f1f1f1; }
      .dropdown-content .dropdown-menu .dropdown-item .dropdown-link {
        text-decoration: none;
        color: #747474; }
        .dropdown-content .dropdown-menu .dropdown-item .dropdown-link:link, .dropdown-content .dropdown-menu .dropdown-item .dropdown-link:visited {
          color: #747474; }
      .dropdown-content .dropdown-menu .dropdown-item:hover .dropdown-link {
        color: #4471cb; }

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 100; }

.hm-cover {
  background: linear-gradient(45deg, rgba(51, 59, 74, 0.4), rgba(59, 69, 87, 0.6)), url(../imgs/cover-2.jpg);
  height: 60vh;
  background-position: top;
  background-size: cover;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1; }
  .hm-cover .hm-cover-content {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px; }
    .hm-cover .hm-cover-content h1 {
      font-size: 3.5rem;
      line-height: 1.5rem; }
    .hm-cover .hm-cover-content h2 {
      font-size: 1.4rem;
      line-height: 1.5rem; }
    .hm-cover .hm-cover-content .form-wraper {
      width: 55%;
      background-color: white;
      border-radius: 50px;
      margin: 0 auto;
      height: 60px;
      margin-top: 40px;
      -webkit-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.26);
      box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.26); }
  .hm-cover .featured-intro {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold; }

.featured-categories {
  background-color: #fafafa;
  background-color: #436398; }
  .featured-categories .featured-categories-fwraper {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 20px;
    position: relative;
    bottom: 80px;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    z-index: 10; }
    .featured-categories .featured-categories-fwraper .featured_category {
      background-color: white;
      text-align: center;
      width: 120px;
      height: 120px;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #3d66b7;
      transition: all .4s; }
      .featured-categories .featured-categories-fwraper .featured_category:hover {
        background-color: #3d66b7; }
        .featured-categories .featured-categories-fwraper .featured_category:hover p {
          color: white; }
      .featured-categories .featured-categories-fwraper .featured_category:not(:last-of-type) {
        margin-right: 40px; }
      .featured-categories .featured-categories-fwraper .featured_category img {
        width: 50px;
        height: 50px; }
      .featured-categories .featured-categories-fwraper .featured_category .cat-name {
        text-align: center; }

.featured-listings {
  text-align: center;
  margin-top: -40px;
  background-color: #fafafa;
  background-color: #5272a7;
  padding: 40px 0; }
  .featured-listings-article h2 {
    font-size: 25px;
    font-weight: 300;
    color: white; }
  .featured-listings-article p {
    font-weight: 300;
    color: white; }
  .featured-listings .featured-listings-fwraper {
    display: flex;
    justify-content: center;
    width: 60%;
    padding-left: 220px;
    margin: 40px auto;
    overflow-x: scroll; }
    .featured-listings .featured-listings-fwraper p {
      font-weight: 300;
      font-size: 0.9rem; }
    .featured-listings .featured-listings-fwraper .featured_business {
      flex-basis: 300px;
      text-align: left;
      flex-shrink: 0;
      flex-grow: 0;
      padding: 10px;
      background-color: #f9f9f9;
      background-color: white;
      margin-bottom: 20px;
      border-radius: 10px;
      -webkit-box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.22);
      box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.22); }
      .featured-listings .featured-listings-fwraper .featured_business .business-details {
        display: flex;
        justify-content: space-between;
        font-weight: 300; }
        .featured-listings .featured-listings-fwraper .featured_business .business-details p {
          margin: 0; }
          .featured-listings .featured-listings-fwraper .featured_business .business-details p .fa-solid.fa-phone-volume, .featured-listings .featured-listings-fwraper .featured_business .business-details p .fa-solid.fa-location-pin {
            color: #3d66b7 !important;
            margin-right: 10px; }
        .featured-listings .featured-listings-fwraper .featured_business .business-details .city {
          margin-right: 10px; }
    .featured-listings .featured-listings-fwraper > *:not(:last-of-type) {
      margin-right: 20px; }
    .featured-listings .featured-listings-fwraper .business-title {
      margin-bottom: 0;
      line-height: 10px;
      font-size: 1rem; }
    .featured-listings .featured-listings-fwraper .business-title, .featured-listings .featured-listings-fwraper .business-desc {
      font-weight: 300; }
    .featured-listings .featured-listings-fwraper .business-desc {
      font-size: 14px; }
    .featured-listings .featured-listings-fwraper .business_sub-details {
      border-top: 1px solid #d8d8d8;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .featured-listings .featured-listings-fwraper .business_sub-details .featured_cat {
        margin: 0;
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .featured-listings .featured-listings-fwraper .business_sub-details .featured_cat p {
          margin: 0;
          margin-left: 5px; }
        .featured-listings .featured-listings-fwraper .business_sub-details .featured_cat img {
          width: 20px;
          height: 20px; }
      .featured-listings .featured-listings-fwraper .business_sub-details-right {
        position: relative; }
        .featured-listings .featured-listings-fwraper .business_sub-details-right .tooltip {
          display: none; }
        .featured-listings .featured-listings-fwraper .business_sub-details-right a i.fa-solid.fa-eye {
          color: #3d66b7 !important;
          margin-right: 10px;
          margin-top: 10px; }
        .featured-listings .featured-listings-fwraper .business_sub-details-right a:hover + .tooltip {
          display: inline-block;
          position: absolute;
          background-color: #1d9aeeee;
          background-color: #d78d02;
          color: white;
          width: 67px;
          text-align: center;
          right: -5px;
          padding: 5px;
          border-radius: 5px;
          font-size: 10px;
          bottom: 9px; }

.featured-cities {
  padding: 40px 0; }
  .featured-cities-article {
    text-align: center;
    font-weight: 300; }
    .featured-cities-article h3 {
      font-size: 25px;
      font-weight: 300; }
  .featured-cities .cities-grid {
    display: grid;
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 300px 300px;
    grid-gap: 10px; }
    .featured-cities .cities-grid .city-item {
      border-radius: 10px;
      position: relative; }
      .featured-cities .cities-grid .city-item .city-item-img {
        display: block;
        transition: all .9s !important; }
      .featured-cities .cities-grid .city-item-1 {
        grid-column-start: 1;
        grid-column-end: 3; }
        .featured-cities .cities-grid .city-item-1 .city-item-img:hover {
          background: linear-gradient(rgba(56, 83, 136, 0.5), rgba(55, 81, 135, 0.5)), url(../../../../media/city_images/limassol.webp) !important;
          width: 100% !important;
          height: 100% !important;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          background-position: center !important;
          border-radius: 5px !important; }
      .featured-cities .cities-grid .city-item-2 {
        grid-column-start: 3;
        grid-column-end: 4; }
        .featured-cities .cities-grid .city-item-2 .city-item-img:hover {
          background: linear-gradient(rgba(56, 83, 136, 0.5), rgba(55, 81, 135, 0.5)), url(../../../../media/city_images/paphos_no0ksHS.webp) !important;
          width: 100% !important;
          height: 100% !important;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          background-position: center !important;
          border-radius: 5px !important; }
      .featured-cities .cities-grid .city-item-3 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2; }
        .featured-cities .cities-grid .city-item-3 .city-item-img:hover {
          background: linear-gradient(rgba(56, 83, 136, 0.5), rgba(55, 81, 135, 0.5)), url(../../../../media/city_images/larnaka.webp) !important;
          width: 100% !important;
          height: 100% !important;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          background-position: center !important;
          border-radius: 5px !important; }
      .featured-cities .cities-grid .city-item-4 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 4; }
        .featured-cities .cities-grid .city-item-4 .city-item-img:hover {
          background: linear-gradient(rgba(56, 83, 136, 0.5), rgba(55, 81, 135, 0.5)), url(../../../../media/city_images/nicosia.webp) !important;
          width: 100% !important;
          height: 100% !important;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          background-position: center !important;
          border-radius: 5px !important; }
      .featured-cities .cities-grid .city-item .city-link {
        height: 100%;
        width: 100%;
        position: absolute;
        inset: 0;
        padding: 10px 20px;
        transition: all .4s; }
        .featured-cities .cities-grid .city-item .city-link:link, .featured-cities .cities-grid .city-item .city-link:visited {
          color: white;
          text-decoration: none;
          font-weight: bold;
          background-color: rgba(27, 41, 66, 0.248); }
        .featured-cities .cities-grid .city-item .city-link:hover {
          background-color: rgba(0, 0, 0, 0); }

.registerlogin-fwraper {
  display: flex;
  justify-content: center;
  height: 90vh;
  margin-top: 92px;
  position: relative;
  z-index: 1; }
  .registerlogin-fwraper .register-bg {
    width: 60%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../imgs/register-bg-2.jpg);
    background-size: cover;
    background-position: center;
    height: 91vh; }
  .registerlogin-fwraper .login-bg {
    width: 60%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(../imgs/login-bg.png);
    background-size: cover;
    background-position: center;
    height: 91vh; }
  .registerlogin-fwraper .registerlogin-content {
    width: 40%;
    background-color: #fdfdfd; }
    .registerlogin-fwraper .registerlogin-content-wraper {
      width: 60%;
      margin: 80px auto 0 auto; }
      .registerlogin-fwraper .registerlogin-content-wraper form .form-group .form-control {
        width: 100%;
        padding: 10px; }
      .registerlogin-fwraper .registerlogin-content-wraper form .form-group:not(:last-of-type) {
        margin-bottom: 20px; }
      .registerlogin-fwraper .registerlogin-content-wraper form .btnlogreg {
        background-color: #4471cb;
        border-radius: 10px;
        padding: 10px 20px;
        color: white;
        border: none;
        margin-top: 20px;
        transition: all .4s; }
        .registerlogin-fwraper .registerlogin-content-wraper form .btnlogreg:hover {
          background-color: #3059ac; }

/*# sourceMappingURL=app.css.map */
