{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <script src="https://kit.fontawesome.com/d495971c43.js" crossorigin="anonymous"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header class="header">
        <nav class="navigation">
            <div class="navigation-wraper">            
                <img src="{% static 'imgs/logo.png' %}" alt="" class="logo">
                <ul class="nav-links">

                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a href="{% url 'all_listings' %}" class="nav-link">Places</a></li>
                    <li class="nav-item dropdown"><span class="nav-link">Cities</span>
                        <div class="dropdown-content">
                            <ul class="dropdown-menu">
                                {% for city in cities %}
                                    <li class="dropdown-item"><a href="{% url 'city' city.city_name %}" class="dropdown-link nav-link">{{city.city_name}}</a></li>
                                {% endfor %}
                            </ul>

                        </div>
                    </li> 
                    <li class="nav-item dropdown"><span class="nav-link">Categories</span>
                        <div class="dropdown-content">
                            <ul class="dropdown-menu">
                                {% for category in categories %}
                                    <li class="dropdown-item"><a href="{% url 'category' category.cat_name %}" class="dropdown-link nav-link">{{category.cat_name}}</a></li>
                                {% endfor %}
                            </ul>

                        </div>
                    
                    </li>
                   

                </ul>
                {% if user.is_authenticated %}
                <ul class="login-status">
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
                    <!-- <li class="nav-item"><a href="" class="nav-link">Register</a></li> -->
                </ul>
                {% else %}
                <ul class="login-status">
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                    <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Register</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>

    </header>

    <main class="main">
        {% block main %}

        {% endblock %}
    </main>

    <footer class="footer">
        <div class="footer-fwraper">
            <div class="area">
                <h4>Contact Us</h4>
                <div class="area-content">
                    <p><i class="fa-solid fa-location-dot"></i>Filias 6 Arakapas Limassol, 4563 Cyprus</p>
                    <p><i class="fa-solid fa-phone"></i>+357 96916096</p>
                    <p><i class="fa-solid fa-envelope"></i>test@example.com</p>
                </div>
            </div>

            <div class="area">
                <h4>Company Pages</h4>
                
                <ul class="footer-pages">
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">Articles & Tips</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            
            </div>

            <div class="area">
                <h4>Discover</h4>
                <ul class="footer-pages">
                    {% for city in cities %}
                        <li><a href="{% url 'city' city.city_name %}">{{city.city_name}}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="area">
                <h4>Newsletter</h4>
                <div class="area-content">
                    <p>We don't send spam so don't worry</p>
                    <form action="" class="newsletter">
                        <input type="email" name="" id="" placeholder="Enter Your Email">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>

        </div>

    </footer>
    {% block scripts %}

    {% endblock %}
</body>
</html>