{% extends 'listings/base.html' %}
{% load static %}
{% block title %}  Homepage {% endblock %}
{% block main %}
<div class="hm-cover">

    <div class="hm-cover-content">
        <hgroup>
            <h1>Explore Amazing Destinations</h1>
            <h2>Find great places to stay, eat, shop or visit from local experts.</h2>
        </hgroup>

        <div class="form-wraper">

        </div>

        <p class="featured-intro">What are you interested in?</p>
    </div>

</div>

<section class="featured-categories">
    
    <div class="featured-categories-fwraper">
        {% for featured_category in featured_categories %}
            <div class="featured_category">
                <a href="{% url 'category' featured_category.cat_name %}">
                    <img  src="{{featured_category.cat_photo.url }}" alt="">
                    <p class="cat-name">{{featured_category.cat_name}}</p>
               </a>
            </div>
        {% endfor %}
    </div>
</section>

<section class="featured-listings">
    <article class="featured-listings-article">
        <h2>The most popular things to Do in the City</h2>
        <p>Discover some of the most popular listings</p>
    </article>

    <div class="featured-listings-fwraper">
        {% for featured_business in featured_businesses %}
            <div class="business">
                <div class="business--img" style="
                background: linear-gradient(rgba(56, 83, 136, 0.1),rgba(55, 81, 135, 0.1)), url({{featured_business.featured_img.image.url}});
                width:300px;
                height: 200px;
                background-size: cover;
                background-position: center;
                opacity: 0.9;
                border-radius: 5px;
                position: relative;"
                >
                    <div class="list-reviews">
                         <p> {% for i in featured_business.stars_range %} <i class="fa-solid fa-star"></i> {% empty %}{% endfor %} ({% if featured_business.reviews_count %}{{featured_business.reviews_count}} {% else %}0 {% endif %} reviews)</p> 
                    </div>


                </div>

                <h3 class="business-title">{{featured_business.name}}</h3>
                <p class="business-desc">{{featured_business.desc|truncatewords:7}}</p>
                <div class="business-details">
                    <p class="phone"><i class="fa-solid fa-phone-volume" style="color: rgb(0, 0, 0);"></i>{{featured_business.phone}}</p>
                    <p class="city"><i class="fa-solid fa-location-pin" style="color: rgb(0, 0, 0);"></i>{{featured_business.city}}</p>
                </div>

                <div class="business_sub-details">
                    <div class="featured_cat">
                        {% if featured_business.category.cat_photo %}
                        <img src="{{featured_business.category.cat_photo.url}}" alt="">
                        {% endif %}
                        <p>{{featured_business.category.cat_name}}</p>
                    </div>

                    <div class="business_sub-details-right">
                        <a href="{% url 'singlelisting' featured_business.name %}"><i class="fa-solid fa-eye"></i></a>
                        <p class="tooltip">View More</p>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

    <a href="{% url 'all_listings' %}" class="view-all-listings">View All</a>

   
</section>

<section class="featured-cities">
    <article class="section-intro">
        <h3>Cyprus Cities</h3>
        <p>Exploration in the City - Find Your Ultimate Destination</p>
    </article>

    <div class="cities-grid">
        {% for city in cities %}
            <div class="city-item city-item-{{city.id}}" >
                <div class="city-item-img" style="
                    background: linear-gradient(rgba(39, 39, 39, 0.15),rgba(46, 46, 46, 0.15)), url({{city.city_photo.url}});
                    width:100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    border-radius: 5px;
             
                ">

                    <a href="{% url 'city' city.city_name %}" class="city-link">
                   
                        {{ city.city_name }}
                    </a>

                </div>
                
            </div>
        {% endfor %}
    </div>


</section>

<section class="workhow">
    <article class="section-intro">
        <h3>How it works</h3>
        <p>Bringing business and community members together</p>
    </article>
    <div class="workhow-fwraper">
        <div class="explanation">
            <!-- ICON -->
            <i class="fa-solid fa-map-location-dot"></i>
            <h3>Find Businesses</h3>
            <p>Discover & connect with great local businesses in your neighborhood like dentists, had stylists and more.</p>
        </div>

         <div class="explanation">
            <!-- ICON -->
            <i class="fa-solid fa-comment"></i>
            <h3>Review Listings</h3>
            <p>Discover & connect with great local businesses in your neighborhood like dentists, had stylists and more.</p>
        </div>

         <div class="explanation">
            <!-- ICON -->
            <i class="fa-solid fa-thumbs-up"></i>
            <h3>Adventurous Visit</h3>
            <p>Discover & connect with great local businesses in your local neighborhood like dentists, hair stylists and more.</p>
        </div>

    </div>
</section>

<section class="testimonials">
    <article class="section-intro">
        <h3>Testimonials from our Customers</h3>
        <p>Lorem Ipsum. "Neque porro quisquam est qui dolorem ipsum quia dolor</p>
    </article>
    <div class="testimonials-fwraper">
        <div class="testimonial">
            <img src="{% static 'imgs/testimonials/testimonial1.jpg' %}" alt="">
            <h3>Costas Nicou</h3>
            <h4>Web Developer</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat temporibus nostrum molestias deleniti labore vel.</p>

        </div>

            <div class="testimonial">
            <img src="{% static 'imgs/testimonials/testimonial3.jpg' %}" alt="">
            <h3>Maria Karapitta</h3>
            <h4>Dancer/Choreographer</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat temporibus nostrum molestias deleniti labore vel.</p>

        </div>

            <div class="testimonial">
            <img src="{% static 'imgs/testimonials/testimonial2.jpg' %}" alt="">
            <h3>Iasonas Nicou</h3>
            <h4>Entrepreneur</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat temporibus nostrum molestias deleniti labore vel.</p>

        </div>

    </div>
</section>

<section class="cta">
    <div class="cta-fwraper">
        <div class="cta-content">
            <h3>Submit Your Listing Today</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto minus adipisci quod molestiae quis deserunt.</p>
        </div>

        <a class="cta-btn" href="">Submit Now</a>
    </div>
</section>


{% endblock %}



{% block scripts %}
    <script src="{% static 'js/cat_icon_change.js' %}"></script>
{% endblock %}