{% extends 'listings/base.html' %}
{% load static %}
{% block title %}  Homepage {% endblock %}
{% block main %}
<div class="hm-cover">

    <div class="hm-cover-content">
        <hgroup>
            <h1>Explore Amazing Destinations</h1>
            <h2>Find great places to stay, eat, shop or visit from local experts.</h2>
        </hgroup>

        <div class="form-wraper">

        </div>

        <p class="featured-intro">What are you interested in?</p>
    </div>

</div>

<section class="featured-categories">
    
    <div class="featured-categories-fwraper">
        {% for featured_category in featured_categories %}
            <div class="featured_category">
                <img  src="{{featured_category.cat_photo.url }}" alt="">
                <p class="cat-name">{{featured_category.cat_name}}</p>
               
            </div>
        {% endfor %}
    </div>
</section>

<section class="featured-listings">
    <article class="featured-listings-article">
        <h2>The most popular things to Do in the City</h2>
        <p>Discover some of the most popular listings</p>
    </article>

    <div class="featured-listings-fwraper">
        {% for featured_business in featured_businesses %}
            <div class="featured_business">
                <div class="featured_business--img" style="
                background: linear-gradient(rgba(56, 83, 136, 0.5),rgba(55, 81, 135, 0.5)), url({{featured_business.featured_img.image.url}});
                width:250px;
                height: 150px;
                background-size: cover;
                background-position: center;
                opacity: 0.9;
                border-radius: 5px;">

                </div>

                <h3 class="business-title">{{featured_business.name}}</h3>
                <p class="business-desc">{{featured_business.desc|truncatewords:7}}</p>
                <div class="business-details">
                    <p class="phone"><i class="fa-solid fa-phone-volume" style="color: rgb(0, 0, 0);"></i>{{featured_business.phone}}</p>
                    <p class="city"><i class="fa-solid fa-location-pin" style="color: rgb(0, 0, 0);"></i>{{featured_business.city}}</p>
                </div>

                <div class="business_sub-details">
                    <div class="featured_cat">
                        {% if featured_business.category.cat_photo %}
                        <img src="{{featured_business.category.cat_photo.url}}" alt="">
                        {% endif %}
                        <p>{{featured_business.category.cat_name}}</p>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
   
</section>
{% endblock %}



{% block scripts %}
    <script src="{% static 'js/cat_icon_change.js' %}"></script>
{% endblock %}