{% extends 'listings/base.html' %}
{% load static %}
{% block title %} Homepage {% endblock %}
{% block main %}
<div class="business-cover" style="
    background: linear-gradient(45deg,rgba(39, 39, 39, .35),rgba(46, 46, 46, 0.35)), url({{business.featured_img.image.url}});
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    height: 500px;
    margin-top: 92px;
    position: relative;
   color: white;


">


    <div class="cover_details">
        <div class="cover_details-left">
            <h1>{{business.name}}</h1>
            <div class="first-class">

                <p><i class="fa-solid fa-phone-volume"></i>{{business.phone}}</p>
                <p><i class="fa-solid fa-location-pin"></i>{{business.city}}</p>
            </div>

            <div class="reviews-count">
                <p> {% for i in stars_range %} <i class="fa-solid fa-star"></i> {% empty %}{% endfor %} ({% if reviews_count %}{{reviews_count}} {% else %}0 {% endif %} reviews)</p>
            </div>

        </div>

        <div class="cover_details-right">
            {% if business.website %}<p class="website"><a class="website-link" target="_blank"
                    href="{{business.website}}"><i class="fa-solid fa-globe"></i></a> <span>Website</span></p>
            {% endif %}
            
            {% if user.is_authenticated %}
            {% if request.user.username not in existing_reviews_usernames and request.user.username != business.user.username and request.user.username not in existing_partner_usernames %}
            <a href="#add-review-area" class="submit-review">Add a Review</a>
            {% endif %}
            {% endif %}
        </div>

    </div>

</div>

<section class="business-content">
    <div class="business-content-wraper">
        <div class="business-content-wraper-left">
            {% if business.desc %}
            <article class="overview-article">
                <h2>Overview</h2>
                <p class="business-overview">{% if business.desc %} {{business.desc}} {% else %} No business overview yet {% endif %}</p>
                <a href="" class="overview-read-more">Read More &raquo;</a>
            </article>

            <hr>
            {% endif %}


            <div class="photo-gallery">
                <h2>Photo Gallery</h2>
                <div class="photo-gallery-wraper">

                    {% for img in gallery %}
                    <img class="gal-img" src="{{img.image.url}}" alt="">

                    {% empty %}
                    <img class="gal-img" src="{{business.featured_img.image.url}}" alt="">
                    {% endfor %}





                </div>

                <button class="close-img hidden">&times;</button>
                <div class="overlay hidden"></div>
            </div>

            <!-- if section below show hr -->
            {% if partners or business_reviews %}
            <hr>
            {% endif %}
            
            {% if partners %}
            <div class="business-parners">
                <h2>Our Business Parnerships</h2>
                <div class="business-partners-wraper">
                    {% for partner in partners %}
                    <div class="business">
                        <div class="business--img" style="
                        background: linear-gradient(rgba(56, 83, 136, 0.1),rgba(55, 81, 135, 0.1)), url({{partner.featured_img.image.url}});
                        width:300px;
                        height: 200px;
                        background-size: cover;
                        background-position: center;
                        opacity: 0.9;
                        border-radius: 5px;
                        position: relative;">
                            <div class="list-reviews">
                                <p>{% if partner_stars_range %}{% for i in partner_stars_range %} <i class="fa-solid fa-star"></i> {% empty %}{% endfor %} {% endif %} ({% if partner.reviews_count %}{{partner.reviews_count}} {% else %}0 {% endif %} reviews)
                                </p>
                            </div>


                        </div>

                        <h3 class="business-title">{{partner.name}}</h3>
                        <p class="business-desc">{{partner.desc|truncatewords:7}}</p>
                        <div class="business-details">
                            <p class="phone"><i class="fa-solid fa-phone-volume"
                                    style="color: rgb(0, 0, 0);"></i>{{partner.phone}}</p>
                            <p class="city"><i class="fa-solid fa-location-pin"
                                    style="color: rgb(0, 0, 0);"></i>{{partner.city}}</p>
                        </div>

                        <div class="business_sub-details">
                            <div class="featured_cat">
                                {% if partner.category.cat_photo %}
                                <img src="{{partner.category.cat_photo.url}}" alt="">
                                {% endif %}
                                <p>{{partner.category.cat_name}}</p>
                            </div>

                            <div class="business_sub-details-right">
                                <a href="{% url 'singlelisting' partner.name %}"><i class="fa-solid fa-eye"></i></a>
                                <p class="tooltip">View More</p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>empty</p>

                    {% endfor %}

                </div>
            </div>
            <hr>
            {% endif %}

            {% if business_reviews %}
            <div class="reviews-area">
                <h2>What they Say About Us</h2>
                <div class="existing-reviews">
                    {% for business_review in business_reviews %}
                    <div class="full-review">
                        <h3 class="review-user"><i class="fa-solid fa-user"></i>@{{business_review.user.username}}</h3>
                        <p>{{business_review.description}}</p>
                        <p class="user-review-stars"> {% for i in stars_range %} <i class="fa-solid fa-star"></i> {% empty %}{% endfor %} ({{business_review.stars}} Star Rating)</p>
                    </div>

                    {% endfor %}
                </div>

              
            </div>
            {% endif %}

            <!-- if user is logged in 
             if user is not the owner of the listing
             if user is not a business partner 
             if the user hasn't submitted a review-->
            
            <div id="add-review-area" class="add-review">
                {% if user.is_authenticated %}
                    {% if request.user.username not in existing_reviews_usernames and request.user.username != business.user.username and request.user.username not in existing_partner_usernames %}
                    <h3>Add a Review</h3>
                
                    
                    <form action="{% url 'singlelisting' business.name %}" method="POST" class="add-review-form">
                        {% csrf_token %}
                        <div class="form-field">
                            {{reviewForm.stars}}
                        </div>
                    

                        <div class="form-field">
                            {{reviewForm.description}}
                        </div>

                        <input class="submit-review-btn" type="submit" value="Submit Review">
                        

                    </form>
                    {% endif %}
                
                {% else %}
                    <h3>Add a Review</h3>
                    <a class="not-loggedin-review" href="{% url 'login' %}">Sign in to add a Review</a>
                {% endif %}
            </div>
                


      
      
             
                
        </div>

        <div class="business-content-wraper-right">
            <div class="sticky-sidebar">
                <div class="location sidebar-box">
                    <h2>Contact</h2>
                    <!-- address -->
                    <p><i class="fa-solid fa-map-location"></i>{% if business.address %}{{business.address}}{% else %}No Business address provided.{% endif %}</p>
                    <!-- telephone -->
                    <p><i class="fa-solid fa-phone"></i>{% if business.phone%}{{business.phone}}{% else %}No business phone provided {% endif %}</p>
                    <!-- email -->
                    <p><i class="fa-solid fa-envelope"></i>{% if business.email %}{{business.email}}{%else %}No business email provided.{% endif %}</p>
                    <!-- website -->
                    <p><i class="fa-solid fa-link"></i>{% if business.website %}<a href="{{business.website}}">{{business.website}}</a>{% else %}No Website provided.{% endif %}</p>

                    <!-- social -->
                    <div class="business-social">

                        {% for platform in social %}
                        <a href="{{platform.url}}" target="_blank">
                            {% if platform.network == 'facebook' %}
                            <i class="fa-brands fa-facebook"></i>
                            {% elif platform.network == 'instagram' %}
                            <i class="fa-brands fa-instagram"></i>
                            {% elif platform.network == 'x' %}
                            <i class="fa-brands fa-x-twitter"></i>
                            {% elif platform.network == 'youtube' %}
                            <i class="fa-brands fa-youtube"></i>
                            {% elif platform.network == 'linkedin' %}
                            <i class="fa-brands fa-linkedin"></i>
                            {% elif platform.network == 'tiktok' %}
                            <i class="fa-brands fa-tiktok"></i>
                            {% endif %}
                        </a>
                        {% empty %}
                        <p>No Social links provided</p>
                        {% endfor %}

                    </div>
                </div>

                <div class="times sidebar-box">
                    <h2>Working Hours</h2>
                    {% for hour in hours %}
                    <p><i class="fa-solid fa-clock"></i><strong>{{ hour.get_day_display }}: </strong>{{hour.open_time}} to {{hour.close_time}}</p>
                    {% endfor %}
                </div>


            </div>

        </div>

    </div>
</section>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/business.js' %}"></script>
{% endblock %}